<div >

<div ng-if="open">
	<button ng-click="toggleVisibility()" class="minusIcon3">
	 <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
	</button>

	<div class="row" > 
		bla: {{open}}


	    <table id="calculatorTable">
	      <calculator-row row="row1"></calculator-row>
	      <calculator-row row="row2"></calculator-row>
	      <calculator-row row="row3"></calculator-row>
	      <calculator-row row="row4"></calculator-row>
	    </table>

	    <table id="totalTable">
	      <tr>
	        <td></td>
	        <td></td>
	        <td class="right"> Total : {{total}} </td>
	      </tr>
	      <tr>
	        <td class="center" colspan="3">
	          <button ng-click="clearCalculator(this);" class="button small">
	            clear
	          </button></td>
	      </tr>
	    </table>

  </div>

</div> 

</div>	