<h1>Custom Filter <i class="notes">Angular Working: {{filter.test}}</i></h1>

<p>

	Normal $filter search : <input type="text" ng-model="filterString"></input> 

	<i class="notes" ng-if="filtered.length > 0">Items showing: {{filtered.length}}</i> 

</p>

<hr>

<table>
	<tr>
		<th>Dept</th>
		<th>Name</th>
		<th>Gender</th>
	</tr>
	<tr ng-repeat="employee in filtered = (filter.empList | filter: filterString)">
		<td>{{employee.dept}}</td> 
		<td>{{employee.name}}</td> 
		<td>{{employee.gender}}</td>	
	</tr>
</table>

<hr>
<h2>Json</h2>

<code>
	{{filtered}}
</code>

<code>
	{{filter.empList}}
</code>